{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<form method="POST"> {% csrf_token %}
	{{ form.media }}
	<div class="form-group">
		<input type="hidden" name="contador" value="{{ user.id }}" />
		<div class="card bg-light mx-auto mb-4">
			<div class="card-body">
				<h1 class="mb-4">Ingresar nuevo trabajo</h1>
				<table>
					<tr>
						<td class="pb-4"><b>Cliente:</b></td>
						<td class="pb-4">{{ form.cliente|add_class:"form-control" }}</td>
					</tr>
					<tr>
						<td class="pb-4 pr-2"><b>Tipo de trabajo:</b></td>
						<td class="pb-4">{{ form.tipo|add_class:"form-control" }}</td>
					</tr>
					<tr>
						<td class="pb-4"><b>Fecha de inicio:</b></td>
						<td class="pb-4">{{ form.fecha_inicio }}</td>
					</tr>
					<tr>
						<td class="pb-4"><b>Duración:</b></td>
						<td class="pb-4">{{ form.duracion|add_class:"form-control" }}</td>
					</tr>
					<tr>
						<td class="pb-4">Descripción:</td>
						<td class="pb-4">{{ form.descripcion|add_class:"form-control" }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<input type="submit" class="btn btn-lg btn-success mr-4" value="Crear nuevo trabajo" /> <button class="btn btn-lg btn-secondary" onclick="window.location.href='/registro/'">Cancelar</button>
</form>



{% endblock %}