{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load widget_tweaks %}
{% block content %}
<form method="POST" action="{% url 'contador-crear' %}"> {% csrf_token %}
	<div class="form-group">
		<div class="card bg-light mx-auto mb-4">
			<div class="card-body">
				<h1 class="mb-4">{{ title }}</h1>
				<table>
					<tr>
						<td class="pb-4"><b>Nombre de usuario:</b></td>
						<td class="pb-4">{{ form.username|add_class:"form-control" }}</td>
					</tr>
					<tr>
						<td class="pb-4"><b>Contraseña:</b></td>
						<td class="pb-4">{{ form.password1|add_class:"form-control" }}</td>
					</tr>
					<tr>
						<td class="pb-4 pr-2"><b>Confirme la contraseña:</b></td>
						<td class="pb-4">{{ form.password2|add_class:"form-control" }}</td>
					</tr>
					<tr>
						<td><b>Nombre:</b></td>
						<td>{{ form.first_name|add_class:"form-control" }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<input type="submit" class="btn btn-lg btn-success mr-4" value="Guardar"> <button class="btn btn-lg btn-secondary" onclick="window.location.href='/registro/contadores/'">Cancelar</button>
</form>
{% endblock %}
