{% extends 'base.html' %}

{% block content %}
{% if contadores %}
<div class="card bg-light mx-auto mb-4">
	<div class="card-body">
		<h1 class="mb-4">Contadores</h1>
		<div style="float: left;">
			<table class="table table-bordered" style="background-color: #ffffff;">
				<thead class="thead">
					<tr>
						<th>Nombre</th>
					</tr>
				</thead>
				<tbody>
					{% for contador in contadores %}
					<tr>
						<td><a href="{{ contador.id }}">{{ contador.first_name}}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		<a href="{% url 'contador-crear' %}"><button class="btn btn-success btn-lg">Crear nuevo contador</button></a>
		</div>
		<div style="float: left;">
			<table class="table table-bordered" style="background-color: #ffffff;">
				<thead class="thead">
					<tr>
						<th>Horas trabajadas</th>
					</tr>
				</thead>
				<tbody>
					{% for hora in horas %}
					<tr>
						<td>{{ hora }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div style="float: left;">
			<table class="table table-bordered" style="background-color: #ffffff;">
				<thead class="thead">
					<tr>
						<th>Acciones</th>
				</thead>
				<tbody>
					{% for contador in contadores %}
						<tr>
							<td><a href="{{ contador.id }}">Editar</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<p>No existen contadores.</p>
		{% endif %}
	</div>
</div>
{% endblock %}