{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load widget_tweaks %}
{% block content %}
<form method="POST"> {% csrf_token %}
	<div class="form-group">
		<div class="card bg-light mx-auto mb-4">
			<div class="card-body">
				<h1 class="mb-4">{{ title }}</h1>
				<table>
					<tr>
						<td class="pb-4 pr-2"><b>Nombre:</b></td>
						<td class="pb-4">{{ form.nombre|add_class:"form-control" }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<input type="submit" value="Guardar" class="btn btn-lg btn-success mr-4"/> <button class="btn btn-lg btn-secondary" onclick="window.location.href='/registro/tipos/'">Cancelar</button>
</form>
{% endblock %}