{% extends 'base.html' %}

{% block content %}
{% if tipos %}
<div class="card bg-light mx-auto mb-4">
	<div class="card-body">
		<h1 class="mb-4">Tipos de trabajo</h1>
		<table class="table table-hover table-bordered" style="background-color: #ffffff;">
			<thead class="thead">
				<tr>
					<th>Tipo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for tipo in tipos %}
				<tr>
					<td>{{ tipo.nombre}}</td>
					<td><a href="{{ tipo.get_absolute_url }}">Editar</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No existen tipos de trabajo.</p>
		{% endif %}
		<a href="{% url 'tipo-crear' %}"><button class="btn btn-success btn-lg">Crear nuevo tipo de trabajo</button></a>
	</div>
</div>
{% endblock %}