<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/registro/">Contador v0.1</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-5">
      <li class="nav-item active ml-2">
        <a class="nav-link" href="/registro/">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ml-2">
        <a class="nav-link" href="{% url 'contador-lista' %}">Contadores</a>
      </li>
      <li class="nav-item active ml-2">
        <a class="nav-link" href="{% url 'cliente-lista' %}">Clientes</a>
      </li>
      <li class="nav-item active ml-2">
        <a class="nav-link" href="{% url 'tipo-lista' %}">Tipos de trabajo</a>
      </li>
      <li class="nav-item active ml-2">
        <a class="nav-link" href="{% url 'trabajo-lista' %}">Trabajos</a>
      </li>
    </ul>
    {% if user.is_authenticated %}
    <h4 class="mr-4">Bienvenido {{ user.first_name }}</h4>
    <a class="nav-link mr-5 ml-5" href="/logout">Cerrar sesión</a>
    {% endif %}
  </div>
</nav>