{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_staff %}
<h1>Página de inicio Administrador</h1>
{% else %}
<h1>Página de inicio Contador</h1>
{% endif %}
<a href="{% url 'trabajo-crear' %}"><button class="btn btn-success btn-lg" value="Ingresar nuevo trabajo">Ingresar nuevo trabajo</button></a>
<h2>Mis trabajos</h2>
{% if trabajos %}
<table class="table table-striped table-hover">
<thead class="thead">
		<tr>
			<th>Fecha de inicio</th>
			<th>Horas</th>	
			<th>Cliente</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for trabajo in trabajo %}
		<tr>
			<td>{{ trabajo.fecha_inicio }}</td>
			<td>{{ trabajo.duracion}}</td>
			<td>{{ trabajo.cliente.nombre }}</td>
			<td><a href="{{ trabajo.get_absolute_url }}">Editar</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>No hay trabajos para mostrar</p>
{% endif %}
{% endblock %}
