{% extends 'base.html' %}
{% block title %}Iniciar sesión{% endblock %}
{% load widget_tweaks %}
{% block content %}
{% if user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url=/registro/">
{% endif %}
<div class="row">
	<div class="col d-flex justify-content-center ">
		<table style="height:500px;">
			<tbody>
				<tr>
					<td class="align-middle">
						<h1>Iniciar sesión</h1>
						<div class="card bg-light mx-auto ">
							<div class="card-body">
								<div class="form-group">
								<form method="POST" action="{% url 'login' %}">
									{% csrf_token %}
									<table>
										<tr>
											<td class="pb-4"><b>Usuario:</b></td>
											<td class="pb-4">{{ form.username|add_class:"form-control" }}</td>
										</tr>
										<tr>
											<td class="pr-4 pb-4"><b>Contraseña:</b></td>
											<td class="pb-4">{{ form.password|add_class:"form-control" }}</td>
										</tr>
									</table>
									{% if form.errors %}
									<li class="ml-4 mb-4">Los datos ingresados son incorrectos.</li>
									{% endif %}
									<center>
										<input type="submit" value="Iniciar sesión" class="btn btn-success btn-lg px-4 mx-4">
									</center>
									<input type="hidden" name="next" value="{{ next }}">
								</form>
							</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}